<%- include ("includes/head.ejs") %>

<h1 class = "title"> Registrar Hot Cake</h1>

<br><br>

<form action = "/lab13/nuevo" method="POST">

    <label for = "nombre">Nombre: </label>
    <input name = "nombre" class = "input is is-rounded" type="text" placeholder="belgas">

    <label for = "nombre">Nombre: </label>
    <input name = "nombre" class = "input is is-rounded" type="text" placeholder="belgas">

    <label for = "nombre">Nombre: </label>
    <input name = "nombre" class = "input is is-rounded" type="text" placeholder="belgas">

    <label for = "nombre">Nombre: </label>
    <input name = "nombre" class = "input is is-rounded" type="text" placeholder="belgas">

    <label for = "nombre">Nombre: </label>
    <input name = "nombre" class = "input is is-rounded" type="text" placeholder="belgas">

    <br><br>

    <input class="button is-info is-rounded" type="submit" value="Registrar">

</form>


<%- include ("includes/foot.ejs") %>